@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

#container {
  padding: 2em;
  overflow: hidden;
}
#container .blue-button {
  border: none;
  background-color: hsl(231deg, 69%, 60%);
  color: white;
  font-weight: 600;
  font-size: 0.8em;
  padding: 1em;
  border-radius: 0.4em;
  cursor: pointer;
}
#container header {
  background-color: rgb(255, 255, 255);
  width: 100%;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container header #nav-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#container header #mobile-links {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 4em 0;
}
#container header #mobile-links p {
  color: white;
  font-weight: 500;
  text-align: center;
  width: 100%;
  padding: 1em;
  text-transform: uppercase;
  border-bottom: 1px solid white;
}
#container header #mobile-links p:nth-child(1) {
  border-top: 1px solid white;
}
#container header #mobile-links .login {
  letter-spacing: 0.4em;
  margin-top: 1.5em;
  border: 3px solid white;
  border-radius: 0.3em;
}
#container header #desktop-links {
  display: none;
}
#container header #hamburger {
  cursor: pointer;
}
#container .header-active {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: hsla(229deg, 31%, 21%, 0.9);
  align-items: flex-start;
  padding: 2em;
}
#container #title-div {
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}
#container #title-div #title-img {
  position: relative;
  z-index: -1;
}
#container #title-div #title-img img {
  width: 100%;
}
#container #title-div #title-img #title-blue {
  content: "";
  background-color: hsl(231deg, 69%, 60%);
  height: 80%;
  width: 90%;
  right: -2em;
  bottom: 0;
  position: absolute;
  z-index: -1;
  border-radius: 4em 0 0 4em;
}
#container #title-div h2 {
  margin-top: 1em;
  font-weight: 500;
  color: hsl(229deg, 31%, 21%);
}
#container #title-div p {
  color: hsl(229deg, 8%, 60%);
}
#container #title-div #firefox-button {
  cursor: pointer;
  border: none;
  padding: 1em;
  font-size: 0.8em;
  font-weight: 600;
  color: hsl(229deg, 31%, 21%);
  background-color: white;
  box-shadow: 0px 3px 10px rgba(156, 156, 156, 0.425);
}
#container #features-div {
  min-height: 100vh;
  text-align: center;
}
#container #features-div h2 {
  color: hsl(229deg, 31%, 21%);
  font-weight: 500;
  padding: 0.7em;
}
#container #features-div p {
  color: hsl(229deg, 8%, 60%);
  padding-bottom: 2em;
  font-size: 0.9em;
  line-height: 1.4em;
}
#container #features-div #features-buttons {
  display: flex;
  flex-direction: column;
}
#container #features-div #features-buttons div {
  width: 100%;
  border-bottom: 1px solid hsla(229deg, 8%, 60%, 0.5);
}
#container #features-div #features-buttons div:nth-child(1) {
  border-top: 1px solid hsla(229deg, 8%, 60%, 0.5);
}
#container #features-div #features-buttons .active {
  border-bottom: 4px solid hsl(0deg, 94%, 66%);
}
#container #features-div #features-buttons button {
  cursor: pointer;
  width: 65%;
  padding: 1em;
  border: none;
  background-color: transparent;
  font-size: 1em;
  font-weight: 500;
  border-bottom: 4px solid transparent;
}
#container #features-div #features-category {
  padding: 4em 0;
}
#container #features-div #features-category #features-img {
  position: relative;
  padding-bottom: 2em;
}
#container #features-div #features-category #features-img img {
  width: 100%;
  height: 100%;
}
#container #features-div #features-category #features-img #title-blue {
  content: "";
  background-color: hsl(231deg, 69%, 60%);
  height: 80%;
  width: 90%;
  left: -2em;
  bottom: 0;
  position: absolute;
  z-index: -1;
  border-radius: 0em 4em 4em 0em;
}
#container #features-div .blue-button {
  display: none;
}
#container #download-div {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
  text-align: center;
}
#container #download-div h3 {
  font-weight: 600;
  color: hsl(229deg, 31%, 21%);
}
#container #download-div p {
  color: hsl(229deg, 8%, 60%);
  font-size: 0.9em;
  line-height: 1.4em;
}
#container #download-div #download-categories {
  display: flex;
  flex-direction: column;
  gap: 3em;
  width: 100%;
}
#container #download-div #download-categories div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em;
  width: 100%;
  box-shadow: 0px 3px 10px rgba(156, 156, 156, 0.425);
  border-radius: 1em;
}
#container #download-div #download-categories div img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#container #download-div #download-categories div .dots {
  width: 100%;
}
#container #questions-div {
  margin: 8em 0 4em 0;
  text-align: center;
}
#container #questions-div h2 {
  font-weight: 500;
  color: hsl(229deg, 31%, 21%);
  padding: 0.5em;
}
#container #questions-div p {
  color: hsl(229deg, 8%, 60%);
  font-size: 0.9em;
  line-height: 1.4em;
}
#container #questions-div .questions div {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  border-bottom: 1px solid hsla(229deg, 8%, 60%, 0.5);
}
#container #questions-div .questions .question {
  overflow: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-bottom: 1px solid hsla(229deg, 8%, 60%, 0.5);
  height: 0;
  transition: height 2s ease-in;
}
#container #questions-div button {
  margin-top: 2em;
}

#contact-div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 3em 2em;
  color: white;
  text-align: center;
  width: 100%;
  background-color: hsl(231deg, 69%, 60%);
}
#contact-div p {
  letter-spacing: 0.3em;
  font-weight: 300;
}
#contact-div h3 {
  font-weight: 500;
}
#contact-div form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
#contact-div form input {
  padding: 1em;
  border-radius: 0.3em;
  border: none;
}
#contact-div form input::-moz-placeholder {
  color: hsla(229deg, 8%, 60%, 0.5);
  font-weight: 600;
}
#contact-div form input:-ms-input-placeholder {
  color: hsla(229deg, 8%, 60%, 0.5);
  font-weight: 600;
}
#contact-div form input::placeholder {
  color: hsla(229deg, 8%, 60%, 0.5);
  font-weight: 600;
}
#contact-div form button {
  cursor: pointer;
  padding: 1em;
  border-radius: 0.3em;
  background-color: hsl(0deg, 94%, 66%);
  border: none;
  color: white;
  font-weight: 600;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 2em;
  background-color: hsl(229deg, 31%, 21%);
  color: white;
}
footer #footer-links {
  cursor: pointer;
  display: flex;
  gap: 2em;
}

@media screen and (min-width: 768px) {
  #container header {
    flex-direction: row;
  }
  #container header #hamburger {
    display: none;
  }
  #container header #desktop-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }
  #container header #desktop-links p {
    cursor: pointer;
    text-transform: uppercase;
  }
  #container header #desktop-links .login {
    cursor: pointer;
    letter-spacing: 0.4em;
    padding: 0.3em;
    border: 3px solid black;
    border-radius: 0.3em;
  }
  #container #title-div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  #container #title-div div {
    width: 50%;
  }
  #container #title-div div:nth-child(2) {
    text-align: start;
    display: flex;
    gap: 1em;
    flex-direction: column;
  }
  #container #title-div div:nth-child(2) h2 {
    font-size: 3em;
  }
  #container #features-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  #container #features-div #features-subtitle {
    width: 50%;
  }
  #container #features-div #features-subtitle h2 {
    font-size: 2em;
  }
  #container #features-div #features-buttons {
    flex-direction: row;
  }
  #container #features-div #features-buttons div:nth-child(1) {
    border-top: none;
  }
  #container #features-div #features-category {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3em;
  }
  #container #features-div #features-category div {
    width: 50%;
  }
  #container #features-div #features-category div:nth-child(2) {
    text-align: start;
  }
  #container #features-div #features-category div:nth-child(2) h2 {
    padding: 0;
    font-size: 2em;
  }
  #container #features-div #features-category div:nth-child(2) .blue-button {
    display: block;
  }
  #container #download-div h3 {
    font-size: 1.8em;
  }
  #container #download-div p {
    width: 40%;
  }
  #container #download-div #download-categories {
    display: flex;
    flex-direction: row;
  }
  #container #download-div #download-categories p {
    width: 100%;
  }
  #container #download-div #download-categories div {
    padding: 5em 0;
  }
  #container #download-div #download-categories div .blue-button {
    width: 85%;
  }
  #container #download-div #download-categories div:nth-of-type(2) {
    margin-top: 2em;
    margin-bottom: -2em;
  }
  #container #download-div #download-categories div:nth-of-type(3) {
    margin-top: 4em;
    margin-bottom: -4em;
  }
  #container #questions-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #container #questions-div p {
    width: 40%;
  }
  #container #questions-div .questions {
    width: 40%;
  }
  #container #questions-div .questions p {
    width: 100%;
  }
  #contact-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
  }
  #contact-div p {
    font-size: 0.8em;
  }
  #contact-div h3 {
    width: 40%;
    font-size: 1.7em;
  }
  #contact-div form {
    width: 40%;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
  footer div:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
  }
}/*# sourceMappingURL=styles.css.map */